extends layout

block content
	h1= title
	p Welcome to #{title}
	pre=JSON.stringify( data, null, 2 )
	table.table
		tr
			th Enabled
			th Available
		tr
		each site, idx in data.available
			td=site
			td=data.enabled[idx]
