extends layout

block content
	h1= title
	p Welcome to #{title}
	pre=JSON.stringify( data, null, 2 )
	table.table
		th
			td Enabled
			td Available
		each site, idx in data.available
			tr
				td=site
				td=data.enabled[idx]
