//- controlPanel.jade
extends ./layout

block body
	.container
		.col-sm-12
			h1= title
			p Welcome to #{title}

		.col-md-12
			h2 The Sites
			table.table.table-striped
				thead
					tr
						th Port
						th Root Directory
						th Cloudflare
				tbody
					tr
						td=data.port
						td=data.root
						td=data.cloudflare_enabled
			p.strong Nginx Config
			pre=data.nginx_config

			p=url

			a.btn.btn-danger(href='/site/delete/'+data.url) Delete site